# npm 镜像源
registry=https://registry.npmmirror.com

# Electron 镜像配置（环境变量方式）
# 使用前请在终端执行：
# $env:ELECTRON_MIRROR="https://npmmirror.com/mirrors/electron/"
# $env:ELECTRON_BUILDER_BINARIES_MIRROR="https://npmmirror.com/mirrors/electron-builder-binaries/"
